* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    font-family: 'Merriweather', serif, 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;

}

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 140px;



}

.text1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;

}

.text2 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
    /* 131.944% */
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;

    font-weight: 700;
    padding-top: 120px;

}

#off2 {

    font-size: 24px;

    font-weight: 500;
    padding-top: 48px;

}

#off3 {
    color: #070211;

    font-size: 48px;

    font-weight: 700;


}

.imge {
    padding-left: 350px;
    padding-right: 395px;
    padding-top: 50px;
}

.banner_2 {
    border-radius: 16px;
    background: linear-gradient(to right, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(Vectorrr.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 140px;


}

#ban_text_1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 126px;


}

#ban_text_2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;


}

.ban_text {
    padding-left: 126px;

}

#btn_primary {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-decoration: none;
    border: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;



}

.btn {
    padding-top: 50px;
    padding-left: 30px;

}

.banner_2 {
    display: flex;
}

.year {

    width: 319.83px;
    height: 464.662px;
    padding-top: 69px;
    padding-left: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add {
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 140px;

}

.add_text {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;

}

.text_color {
    color: #F00;
}

.gallary {
    padding-left: 140px;
    padding-bottom: 30px;

}

.glry_txt_1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;

    font-weight: 500;

}

.glry_txt_2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;

}

.glry_txt_3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.gallary_pic {
    padding-top: 48px;
    border-radius: 16px;
}

.gallary_pic_row {
    padding-left: 24px;
}

.gallary_pic_row2 {

    padding-top: 24px;


}

.messg {
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 140px;

}

.messg {

    text-align: center;
    padding-top: 100px;
}

.mess_txt1 {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;
    padding-top: 30px;

}

.mess_txt2 {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;

    font-weight: 400;
    line-height: 32px;
}

.input_fild{
    position: relative;
    display: flex;
}

.contact input {
    display: flex;
    padding-top: 25px;
    padding-bottom:25px ;
   
    padding-left: 5px;
    width: 440px;
    height: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    background: #FFF;
    border: none;
}

.email{
    color: rgba(7, 2, 17, 0.30);
font-family: Inter;
text-align: center;
font-size: 18px;
font-weight: 400;
padding-left: 100px;

}

.form {
    padding-left: 336px;
    padding-top: 48px;
}

.sub{
    padding-top: 48px;
    
}
.submit{
    border-radius: 0px 50px 50px 0px;
background: #F00;
    height: 70px;
    width: 210px;
    border: none;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;

}

footer{
    background-color: #070211;
    
    margin-top: 120px;
    padding-left: 140px;
    margin-bottom: auto;
}
.phone{
    display: flex;
    justify-content: space-between;
}
.foot_img{
    width: 24px;
height: 24px;
padding-top: 120px;
}

.foot_cont{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding-top: 120px;

}

.footer_row{
    display: flex;
    gap:559px;
    padding-bottom: 50px;
   
}

.section2{
    padding-bottom: 5px;
    padding-left: 18px;
}

.social_media{
    width: 64px;
height: 64px;
display: flex;
gap: 24px;
padding-left: 450px;
padding-bottom: 48px;
padding-top: 48px;
}

.line{
    border-top: 1px ;
    background: rgba(255, 255, 255, 0.15); 
    width: 1320px;
 
            
}
.reserved{
    padding-top: 50px;
    padding-bottom: 120px;
}
.last{
    padding-top:50px ;
    padding-bottom: 120px;
    color: #FFF;
font-family: Inter;
font-size: 24px;

font-weight: 500;


}