* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    font-family: 'Merriweather', serif, 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;

}

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 140px;



}

.text1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;

}

.text2 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
    /* 131.944% */
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;

    font-weight: 700;
    padding-top: 120px;

}
#off2{
    
font-size: 24px;

font-weight: 500;
padding-top: 48px;

}

#off3{
    color: #070211;

font-size: 48px;

font-weight: 700;


}